body{ 
    background-color: bisque:(235, 0, 34);
    color:black;
    font-family:bisque;
    margin:  0px;
}   
h1{
 color:black;
    font-size: 40px;
} 
p{
 font-size: 25px;   
}
header{
    border-bottom: beige;
    margin: 2px;
    padding: 10px;
    color: blue;
}
